
<%= @sub.title %>
<br>
<%= @sub.description %>
<br>
<%= link_to "Back to all subs", subs_url %>
<br>
<% @sub.posts.each do |post|  %>
  <a href="<%= post.url %>"><%=post.title%></a>
  <br>
  <%= post.content %>
  <br>
<% end %>

<h1>Create Post</h1>

<form action="<%= sub_posts_url(@sub.id) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>URL
    <input type="text" name="post[url]" value="">
  </label>

  <label>Content
    <input type="text" name="post[content]" value="">
  </label>

  <input type="submit" name="" value="Create Post">
</form>
